body
  padding: 0
  margin: 3rem 1rem
  background-color: #f9f9f9

h1,h2,h3,h4
  margin: 0
  padding: 0
  color: #666
  font-size: 1rem

a,a:link,a:hover,a:active
  text-decoration: none
  display: inline-block

.ui.fixed.main.menu
  top: 0
  left: 0
  height: 45px
  .title.item
    line-height: 21px
    vertical-align: top
    img
      display: inline
      width: 42px
      height: 21px
      margin-right: 5px
