@import "app/styles/mixins"
@import "app/styles/ui-step"
@import "compass/css3/border-radius"

.cinema
  margin: 0 auto

  .contexual.nav.bar
    display: none
    background-color: #eee
    .title
      display: inline-block
      margin-left: 1rem
      line-height: 1em
  .video.selector
    span.selector
      display: inline-block
      margin: 0.5rem 0 0 0
    .ui.simple.dropdown
      padding: 0.5rem 0
      margin-right: 1rem

#video-wrapper
  width: 650px
  height: 400px
  margin: 20px auto
#eggninja
  position: absolute
  background: rgba(255,255,255,0.01)
  z-index: 100
  overflow: hidden
#crosshair
  position: absolute
  z-index: 102
  top: -200px 
  left: -200px
  width: 200px
  height: 200px
  background: url(/img/crosshair.png)
.egg, .flower, .boat
  position: absolute
  z-index: 101
  top: 0
  left: 0
  background: no-repeat center center
.flower, .boat
  width: 200px
  height: 200px
.flower
  background-image: url(/img/flower.png)
.boat
  background-image: url(/img/boat.png)

@-webkit-keyframes rotate
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)

.rotate
  -webkit-animation-name: rotate
  -webkit-animation-duration: 0.5s
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
