.vlist
  .video.list
    .video.wrapper
      position: relative
      float: left
      margin-right: 1rem
      margin-bottom: 1rem
      width: 240px
      height: 180px
      background-color: #fff
