.cinema
  .header
    h1 XXX legislator
  .filter
    .committee
      .ui.grid.stackable
        .row
          .six.wide.column
            .category.ui.button 院會　
            .three.column.ui.grid
              .column
                .category.ui.button.disabled 程序
              .column
                .category.ui.button.disabled 紀律
              .column
                .category.ui.button.disabled 修憲
          .ten.wide.column
            .ui.four.column.grid
              .column
                .category.ui.button.active 經濟
                .category.ui.button.disabled 財政
              .column
                .category.ui.button.disabled 內政
                .category.ui.button.active 外交國防
              .column
                .category.ui.button 社福衛環
                .category.ui.button.disabled 教育文化
              .column
                .category.ui.button.disabled 司法法制
                .category.ui.button.disabled 交通
  #video-wrapper
    video#cinema-player(width="650px",height="400px",preload="auto",mediaelement,src="{{vsrc}}")
    input(placeholder="xxx", type="text", ng-model="vsrc")
    #eggninja(ng-controller="EggNinja")
      #crosshair

main.ui.two.column.grid(ng-controller="Danmaku")
  aside.column
    form.ui.form(ng-submit="addComment();newComment=''")
      .ui.input.action.field
        input(placeholder="輸入彈幕", type="text", ng-model="newComment")
        button(ng-disabled="!newComment", type="submit") 新增
