.cinema
  script(src="https://www.youtube.com/iframe_api")
  .contexual.nav.bar
    .back.ui.labeled.icon.button
      i.left.icon
      | back to list
    h1.title XXX legislator

  .clearfix
  .video.selector
    | 現場直播
    |  /  
    | 回到過去
    |  /  
    .committee.ui.simple.dropdown
      .text 委員會
      i.dropdown.icon
      .menu
        .item 院會
        .item 程序委員會
        .item 紀律委員會
        .item 修憲委員會
        .item 經濟委員會
        .item 財政委員會
        .item 內政委員會
        .item 外交國防委員會
        .item 社福衛環委員會
        .item 教育文化委員會
        .item 司法法制委員會
        .item 交通委員會
    .class.ui.simple.dropdown
      .text 8 屆
      i.dropdown.icon
      .menu
        .item 1 屆
        .item 2 屆
        .item 3 屆
        .item 4 屆
        .item 5 屆
        .item 6 屆
        .item 7 屆
        .item 8 屆
    .phase.ui.simple.dropdown
      .text 1 會期
      i.dropdown.icon
      .menu
        .item 1 會期
        .item 2 會期
        .item 3 會期
        .item 4 會期
        .item 5 會期
        .item 6 會期
        .item 7 會期
        .item 8 會期
  h2.ui.header {{title}}&nbsp;
  #egg-realm(ng-controller="Danmaku")
    #video-wrapper
      video#cinema-player(width="650px",height="400px",preload="auto",mediaelement,src="{{vsrc}}")
      #eggninja
        #crosshair
    #action-buttons
      .ui.buttons
        .ui.small.button.green(ng-click="flower($event,'flower')") 獻花
        .ui.small.button.green(ng-click="flower($event,'boat')") 護航
        .ui.small.button.green(ng-click="raiseNet($event)") 張網
      .ui.buttons(style="margin-left: 5px")
        .ui.small.button.red(ng-click="objection($event,'gb')") 抬棺
      form(ng-submit="addComment();newComment=''")
        .ui.input.mini
          input.fire(type="text",placeholder="輸入彈幕",ng-model="newComment")
        button.ui.small.button.blue.fire(ng-disabled="!newComment",type="submit") 發射!
    #action-stats
    .archive(ui-if="loaded")
      #player
      div(style="height: 100px")
        .wav-group(ng-repeat="waveform in waveforms")
          ng-waveform(ng-model="waveform")
      #avatar-tooltip.ui.label.pointing.below
        img
        .name
  //-.panel
    .target.selector
      .ui.image.label
        img(src="http://avatars.io/50a65bb26e293122b0000073/cb14b2ae9b01e89ce5ca1bc4b9d732e9?size=small")
        | 邱議瑩 /xx委員會
        i.delete.icon
      .ui.image.label
        i.plus.icon
    .weapons.selector
    .text.input
  //-main.ui.two.column.grid(ng-controller="Danmaku")
    aside.column
      form.ui.form(ng-submit="addComment();newComment=''")
        .ui.input.action.field
          input(placeholder="輸入彈幕", type="text", ng-model="newComment")
          button(ng-disabled="!newComment", type="submit") 新增
