.container
  h3.ui.header
    i.settings.icon
    .content
      | 找你的委員! {{blah}}
      .sub.header 透過排序可以更快地找到
  .ui.buttons
    .ui.button.green(ng-click="sortBy = 'name'") 姓名
    .or
    .ui.button(ng-click="sortBy = 'party'") 政黨
    .or
    .ui.button(ng-click="sortBy = 'constituency'") 選區
  #content
    //-.mlyitem(ng-repeat="
