#onair-view
  div(style="font-size:64px") 強檔熱映中
  //-object.radio-on(type="image/svg+xml",data="/svg/radio-on.svg")
  br
  a.cctv(ng-href="/cinema/SWE/live")
    .img.swe
    | 社會福利及衛生環境委員會
  a.cctv(ng-href="/cinema/TRA/live")
    .img.tra
    | 交通委員會
  a.cctv(ng-href="/cinema/JUD/live")
    .img.jud
    | 司法及法制委員會
  a.cctv(ng-href="/cinema/FND/live")
    .img.fnd
    | 外交及國防委員會
  a.cctv(ng-href="/cinema/YS/live")
    .img.ys
    | 院會
  a.cctv(ng-href="/cinema/IAD/live")
    .img.iad
    | 內政委員會
  a.cctv(ng-href="/cinema/EDU/live")
    .img.edu
    | 教育及文化委員會
  a.cctv(ng-href="/cinema/ECO/live")
    .img.eco
    | 經濟委員會
  a.cctv(ng-href="/cinema/FIN/live")
    .img.fin
    | 財政委員會
  a.cctv(ng-href="/cinema/PRO/live")
    .img.pro
    | 程序委員會
  a.cctv(ng-href="/cinema/CON/live")
    .img.con
    | 修憲委員會
  a.cctv(ng-href="/cinema/DIS/live")
    .img.dis
    | 紀律委員會
