#onair-view
  .cctv
    .img.swe
    | 社會環境及衛生環境委員會
  .cctv
    .img.tra
    | 交通委員會
  .cctv
    .img.jud
    | 司法及法制委員會
  .cctv
    .img.fnd
    | 外交及國防委員會
  .cctv
    .img.ys
    | 院會
  .cctv
    .img.iad
    | 內政委員會
  .cctv
    .img.edu
    | 教育及文化委員會
  .cctv
    .img.eco
    | 經濟委員會
  .cctv
    .img.fin
    | 財政委員會
  .cctv
    .img.pro
    | 程序委員會
  .cctv
    .img.con
    | 修憲委員會
  .cctv
    .img.dis
    | 紀律委員會
