.vlist

  .ui.menu
    a.active.item newest
    a.item hottest
    a.item score
    .right.menu
      .item
        .ui.icon.input
          input(placeholder="search",type="text")
          i.search.link.icon
    

