.ui.tiered.menu
  .menu
      a.item(ng-click="selector=false;positive=true;negative=false") 最新主打
      a.item(ng-click="selector=false;positive=true;negative=false") 焦點強檔
      a.item(ng-click="positive=!positive;selector=false;negative=false") 佳評如潮
      a.item(ng-click="negative=!negative;selector=false;positive=true") 雷片大賞
      .right.menu
        .item
          .ui.icon.input
            input(placeholder="search",type="text")
            i.search.link.icon
        a.item(ng-click="selector=!selector;positive=true;negative=false") 選擇議程
  .ui.sub.menu(ng-hide="positive")
      a.item 鮮花榜
      a.item 護航榜
      a.item 補鳥榜
  .ui.sub.menu(ng-show="negative")
      a.item 雞蛋王
      a.item 西瓜王
      a.item 威鞋王
      a.item 棺材王
  .ui.sub.menu(ng-show="selector")
      .item.ui.simple.dropdown
        .text 院會
        i.dropdown.icon
        .menu
          .item 院會
          .item 程序委員會
          .item 紀律委員會
          .item 修憲委員會
          .item 經濟委員會
          .item 財政委員會
          .item 內政委員會
          .item 外交國防委員會
          .item 社福衛環委員會
          .item 教育文化委員會
          .item 司法法制委員會
          .item 交通委員會
      .item.ui.simple.dropdown
        .text 8 屆
        i.dropdown.icon
        .menu
          .item 1 屆
          .item 2 屆
          .item 3 屆
          .item 4 屆
          .item 5 屆
          .item 6 屆
          .item 7 屆
          .item 8 屆
      .item.ui.simple.dropdown
        .text 1 會期
        i.dropdown.icon
        .menu
          .item 1 會期
          .item 2 會期
          .item 3 會期
          .item 4 會期
          .item 5 會期
          .item 6 會期
          .item 7 會期
          .item 8 會期

#vlist.clearfix(when-scrolled='loadList()')
  .video.list
    .video.wrapper(ng-repeat="v in videos track by $index", style="z-index:{{-$index}}")
      h3 {{v.sitting_id | sittingName}}
      .video.thumbnail: a(ng-href="/cinema/{{v.sitting_id}}/{{v.youtube_id}}"): img(ng-src="{{v.thumb}}")
      .ui.bottom.right.attached.label.small
        i.icon.unhide
