.vlist

  .ui.tiered.menu
    .menu
        a.item 最新主打
        a.item 焦點強檔
        a.active.item 佳評如潮
        a.item 雷片大賞
        .right.menu
          .item
            .ui.icon.input
              input(placeholder="search",type="text")
              i.search.link.icon
    .ui.sub.menu
        a.active.item 雞蛋王
        a.active.item 威鞋王
        a.active.item 西瓜王
    .ui.sub.menu
        a.active.item 鮮花榜
        a.active.item 護航榜
        a.active.item 補鳥榜
  .video.list
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
    .video.wrapper
      h3 video title
      .video.thumbnail
      .ui.bottom.right.attached.label
        i.icon (icon)
            img(src="")
        | 29478 views
